<form [formGroup]="form" (ngSubmit)="save()">
  <input type="text" formControlName="title" />
  <span
    [title]="form.controls.title.errors | json"
    *ngIf="form.controls.title.invalid"
    >⚡</span
  ><br />
  <input type="text" formControlName="isbn" /><br />
  <input type="text" formControlName="cover" />
  <span
    [title]="form.controls.cover.errors | json"
    *ngIf="form.controls.cover.invalid"
    >⚡</span
  ><br />
  <button (click)="addCtrl()">➕</button>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>
