<h3 *ngIf="content">{{ content.title }}</h3>
<h4 [style]="styles" [innerText]="content.author"></h4>
<button (click)="myFunk($event)">details</button>
<p [attr.data-foo]="color" [style.backgroundColor]="color">
  {{ content.numPages }}
</p>

{{ date | date: "dd.MM:)YYYY" }}
<pre>{{ content | json }}</pre>

<!-- 
<table s1>
  <shared>
    <td s1></td>
  </shared>
  <thead s2>
    <th>
      <div>
        <ul>
          <li s1 s2></li>
        </ul>
      </div>
    </th>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <td></td>
  </tfoot>
</table> -->
