<h3>Edit Book</h3>
<form *ngIf="$book | async as book" #form="ngForm" (ngSubmit)="save(book)">
  <input
    type="text"
    required
    [(ngModel)]="book.title"
    name="title"
    #title="ngModel"
  />
  <span [hidden]="!title.errors?.required || title.pristine">🎈</span>
  <input
    type="text"
    required
    [(ngModel)]="book.author"
    name="author"
    #author="ngModel"
  />
  <span [hidden]="!author.errors?.required || author.pristine">🎈</span>
  <textarea
    type="text"
    required
    [(ngModel)]="book.abstract"
    name="abstract"
    #abstract="ngModel"
  ></textarea>
  <span [hidden]="!abstract.errors?.required || abstract.pristine">🎈</span>
  <pre>{{ form.value.title }}</pre>
  <pre>{{ book.title }}</pre>
  <button type="submit" [disabled]="!form.valid">save</button>
</form>
