<div class="list">
  <input
    type="text"
    (input)="updateSearchString($event)"
    placeholder="search"
    [value]="searchStr"
  />
  <!-- Don't do this -->
  <!-- <app-book-card
    [content]="book"
    (detailClick)="goToDetails($event)"
    *ngFor="let book of transform(books, searchStr)"
  ></app-book-card> -->
  <hr />
  <app-book-card
    [content]="book"
    (detailClick)="goToDetails($event)"
    *ngFor="let book of books | filterBooks: searchStr"
  ></app-book-card>
</div>
<!-- <span class="abstract">södalfkjasälfj scäfls hfgki ha</span> -->
