<!-- <pre>{{ bookNewForm.value | json }}</pre> -->
<form [formGroup]="bookNewForm" (ngSubmit)="save()">
  <h3>Create a book</h3>
  <label for="title">Title</label><br />
  <input type="text" formControlName="title" id="title" />
  <br />
  <label for="subtitle">Subtitle</label><br />
  <input type="text" formControlName="subtitle" id="subtitle" />
  <br />
  <label for="isbn">ISBN</label><br />
  <input type="text" formControlName="isbn" id="isbn" />
  <br />
  <label for="abstract">Abstract</label><br />
  <input type="text" formControlName="abstract" id="abstract" />
  <br />
  <label for="author">author</label><br />
  <input type="text" formControlName="author" id="author" />
  <br />
  <label for="numPages">numPages</label><br />
  <input type="text" formControlName="numPages" id="numPages" />
  <br />
  <br />
  <label>Publisher</label><br />
  <div formGroupName="publisher">
    <label for="name">Name</label><br />
    <input type="text" formControlName="name" id="name" />
    <br />
    <label for="url">Url</label><br />
    <input type="text" formControlName="url" id="url" />
    <br />
  </div>
  <button type="submit">Save</button>
</form>
